<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Runtrack Java Spring | Jour 5</title>
    </head>
    <body>
        <h1>JPA test | Day 5</h1>
        <table th:each="person: ${persons}">
            <tr>
                <td>ID</td>
                <td th:text="${person.getId()}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${person.getName()}"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td th:text="${person.getFirstName()}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td th:text="${person.getAge()}"></td>
            </tr>
            <br>
        </table>
    </body>
</html>